.menu_item {
  color: lightsteelblue;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.menu_item:hover {
  color: cornflowerblue;
  text-decoration: none;
}

.icon_color {
  color: lightsteelblue;
}
